<html>
<body>
  <h1>상품목록페이지</h1>

  <table>
    <thead>
      <tr>
        <th>제품번호</th>
        <th>제품명</th>
        <th>가격</th>
        <th>재고수량</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>1</th>
        <th><a href="/product/detail?pid=1&pname=LG노트북">LG노트북</a></th>
        <th>6000</th>
        <th>5</th>
      </tr>

      <tr>
        <th>2</th>
        <th>삼성노트북</th>
        <th>5000</th>
        <th>3</th>
      </tr>
    </tbody>
  </table>
</body>

</html>