<!DOCTYPE html>
<html>
  <head>
    <title>회원가입</title>
  </head>

  <body>
    <h1>회원가입</h1>

    <form action="/entry" method="post">
      ID : <input type="text" name="uid"><br/>
      PW : <input type="password" name="upassword"><br/>
      이름 : <input type="text" name="userName"><br/>
      전화번호 : <input type="text" name="phone"><br/>
      이메일 : <input type="email" name="email"><br/>
      <input type="submit" value="가입하기">
    </form>

  </body>
</html>