<!DOCTYPE html>
<html>
  <head>
    <title>비밀번호 찾기</title>
  </head>

  <body>
    <h1>비밀번호 찾기</h1>

    <form action="/entry" method="post">
      ID : <input type="text" name="uid"><br/>
      이메일 : <input type="email" name="email"><br/>
      <input type="submit" value="비밀번호 찾기">
    </form>

  </body>
</html>